body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: #f0f0f0; */
    background-image: url(./200-NOTE.jpg);
    background-blend-mode:soft-light;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
    flex: 1;
    margin-left: 0;
}

input[type="number"]:focus {
    border-color: #5c9151;
    box-shadow: 0 0 5px #5c946a;
    outline: none;
}

button {
    background-color: #5c9151;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    align-self: center;
    margin-top: 20px;
}

button:hover {
    background-color: #5c9151;
    transform: scale(1.05);
}

button:active {
    background-color: #a7480a;
    transform: scale(1);
}

#results {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    text-align: left;
}

@media (max-width: 768px) {
    .container{
        /* margin: 10rem 20px; */
        width: 90%;
    }
}